
h1 {color: navy;
text-align: center;
font-variant: small-caps;
font-size: xx-large;
}

h2 {color: navy;
  text-align: left;
  font-variant: small-caps;
  font-size: large;
  font-weight: bold;
  }

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

figure {
align-items: center;
justify-content: center;
background-color: orangered;
padding: 1.5em;
}

ul {
  border-style: dashed;
  border-color: blue;
  text-indent:25px;
  list-style-type: square;
  padding: 1rem;
  }



caption {
  font-size: medium;
  font-weight: bolder;
  text-align: left;
  font-variant: small-caps;
  color: black;
  padding-bottom: .5rem;
  }


  table.GeneratedTable {
     font: Verdana;
      width: 100%;
      background-color:whitesmoke;
      border-width: 2px;
      border-color: black;
      border-style: solid;
      color: #000000;
    }
   
  table.GeneratedTable thead {
    font: Verdana;
    text-align: left;
    background-color:navy;
    color: whitesmoke;
    font-variant: small-caps;
    }  

  table.GeneratedTable td {
    font: Verdana;
    border-width: 1px;
    font-size: medium;
    background-color: silver;
    border-color:orangered;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable th {
    border-width: 1px;
    border-color:navy;
    border-style: solid;
    padding: 3px;
    text-align: left;
    font-size: large;
    font-weight: 200;
    font: Verdana;
  }
 #footer {
  padding:.5em;
  font-variant:small-caps;
  text-align: center;
  background-color: black;
  font: medium;
  color: orangered;

  }
  




  
    