
h1 {color: navy;
text-align: center;
font-variant: small-caps;
font-size: xx-large;
}

h2 {color: navy;
  text-align: left;
  font-variant: small-caps;
  font-size: large;
  font-weight: bold;
  }

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

#img {
align-items: center;
background-color: red;
border:3px #000000;
}

#Sul {
  text-indent:25px;
  list-style-type: square;
  }

caption {
  font-size: medium;
  font-weight: bolder;
  text-align: left;
  font-variant: small-caps;
  color: black;
  padding-bottom: .5rem;
  }


  table.GeneratedTable {
      width: 100%;
      background-color:whitesmoke;
      border-width: 2px;
      border-color: black;
      border-style: solid;
      color: #000000;
    }
   
  table.GeneratedTable thead {
      text-align: left;
      background-color:navy;
      color: whitesmoke;
      font-variant: small-caps;
      }  

  table.GeneratedTable td {
    border-width: 1px;
    font-size: medium;
    border-color:navy;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable th {
    border-width: 1px;
    border-color:navy;
    border-style: solid;
    padding: 3px;
    text-align: left;
    font-size: large;
    font-weight: 200;
  }
  




  
    